<% include layout/header %>
  	<ul class="talks">
  		<% for(var i = 0; i < talks.length; i++) {%>
  		<li class="talk jumbotron clearfix">
  			<!-- TODO: make validation status -->
  			<span class="label label-success">Done</span>
  			<span class="label label-primary">Live</span>
  			<span class="label label-warning">Upcoming</span>
  			<img src="<%= talks[i].thumb %>" alt="">
  			<h3 class="title"><%= talks[i].title %></h3>
  			<h4 class="presenter"><%= talks[i].presenter %></h4>
  			<p class="description"><%= talks[i].description %></p>
  			<a href="/talk/<%= talks[i]._id %>" title="Go to <%= talks[i].title %>" class="btn btn-primary btn-lg">GO</a>
  		</li>
  		<% } %>
  	</ul>
<% include layout/footer %>